<div class="container">
    <!--35 MM-->
    <div class="gallery">
        <!--first section-->
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/d6/43/1c/d6431c1101b3956c6daab14828774546.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/5a/47/28/5a47280be2f8c55c5b40cee41b2de845.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/13/8f/82/138f823f2423752cb7e588229b394721.jpg">
        </div>
        <!--second section-->
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/0b/ed/a1/0beda1946636c3e476b2936c3fbbf662.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/8a/c7/38/8ac738dba2020a52378cb9536f2ef31b.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/08/20/58/08205885476ff059c5b5aa6f92ca9d86.jpg">
        </div>
        <!--third section-->
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/d8/8c/b9/d88cb9fd7f6622dd544d00d31c76c90e.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/40/13/58/40135851a1150c959240ceeab0e99e4c.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/54/5d/f4/545df42ddd6aea48188dff47d50dfa73.jpg">
        </div>
    </div>
</div>
