<div class="container">
    <!--BLACK & WHITE-->
    <div class="gallery">
        <!--first section-->
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/33/60/35/336035d2cdcc40b3ebae6cb872fb40e8.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/47/34/c9/4734c94aa7f704a9a33454ebe45ad6b7.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/d1/2e/a4/d12ea4ec4c64be7de85d01aab104a253.jpg">
        </div>
        <!--second section-->
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/b5/2d/7d/b52d7d704478c036665d436166f88fbf.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/95/c5/17/95c517cc2fc97d43d8525f74ed45a36b.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/75/e3/ce/75e3cee61b22d9da5db9f92cb16c3ee2.jpg">
        </div>
        <!--third section-->
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/564x/36/25/91/36259177c7032371f46053cae2242f88.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/81/2c/9f/812c9f2ea5849ef57a078e03b649f4f1.jpg">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="https://i.pinimg.com/736x/e9/78/54/e97854985cfab212a9b2ba15be252049.jpg">
        </div>
    </div>
</div>
